<form asp-action="GiaiPhuongTrinh">
    <p>
        <label for="">he so A: </label>
        <input type="text" name="heSoA">
    </p>
    <p>
        <label for="">he so B:</label>
        <input type="text" name="heSob">
    </p>
    <p>
        <input type="text" type="submit">
    </p>
</form>