@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo Dotnet core</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Giải phương trình bậc 2</a>.</p>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nhập vào a:</label>
            <input type="email" class="form-control" name="a" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nhập vào b:</label>
            <input type="password" name="b" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nhập vào c:</label>
            <input type="password" name="c" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Tính</button>
    </form>
</div>
<p> @ViewBag.Result </p>